n8n-workflows/workflow-2-hourly-price-monitor.json
{
  "name": "Flight Price Tracker - Hourly Price Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cron",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "name": "Hourly Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Tracker",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Read Active Trackers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [300, 400],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-active-trackers",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Active Trackers",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "url": "=https://test.api.amadeus.com/v1/security/oauth2/token",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $env.AMADEUS_API_KEY }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.AMADEUS_API_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Amadeus OAuth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 400],
      "credentials": {
        "httpHeaderAuth": "amadeus-auth"
      }
    },
    {
      "parameters": {
        "url": "=https://test.api.amadeus.com/v2/shopping/flight-offers?originLocationCode={{ $json.from_airport }}&destinationLocationCode={{ $json.to_airport }}&departureDate={{ $json.travel_date }}&adults={{ $json.passengers }}&max=5&currencyCode={{ $json.currency || 'CAD' }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Amadeus Flight Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract cheapest price from Amadeus response\nconst data = $input.first().json;\n\nif (!data.data || data.data.length === 0) {\n  return [{ no_results: true, current_price: null }];\n}\n\nconst cheapest = data.data.reduce((min, offer) => {\n  const price = parseFloat(offer.price.total);\n  return price < min.price ? { price, offer } : min;\n}, { price: Infinity, offer: null });\n\nconst airline = cheapest.offer.validatingAirlineCodes[0];\nconst flightNumbers = cheapest.offer.itineraries[0].segments.map(s => s.number).join(', ');\n\nreturn [{\n  current_price: cheapest.price,\n  currency: cheapest.offer.price.currencyCode,\n  airline: airline,\n  flight_numbers: flightNumbers,\n  no_results: false\n}];",
        "options": {}
      },
      "name": "Extract Cheapest Price",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "// Calculate price drop metrics\nconst lastPrice = parseFloat($json.last_price);\nconst currentPrice = parseFloat($json.current_price);\nconst thresholdPercent = parseFloat($json.alert_threshold_percent || 0);\nconst thresholdFixed = parseFloat($json.alert_threshold_fixed || 0);\nconst lowestPrice = parseFloat($json.lowest_price);\nconst trackingSince = new Date($json.tracking_since);\nconst now = new Date();\n\nconst daysDiff = Math.floor((now - trackingSince) / (1000 * 60 * 60 * 24));\nconst percentDrop = lastPrice > 0 ? ((lastPrice - currentPrice) / lastPrice) * 100 : 0;\n\nconst isSignificantDrop = percentDrop >= thresholdPercent || (thresholdFixed > 0 && (lastPrice - currentPrice) >= thresholdFixed);\nconst isNewLowest = currentPrice < lowestPrice;\nconst isMatureDeal = daysDiff >= 3 && isNewLowest;\n\nreturn [{\n  percentDrop: percentDrop.toFixed(2),\n  isSignificantDrop: isSignificantDrop,\n  isNewLowest: isNewLowest,\n  isMatureDeal: isMatureDeal,\n  daysDiff: daysDiff,\n  saving: (lastPrice - currentPrice).toFixed(2)\n}];",
        "options": {}
      },
      "name": "Calculate Price Drop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-significant-drop",
              "leftValue": "={{ $json.isSignificantDrop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Significant Drop",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-mature-deal",
              "leftValue": "={{ $json.isMatureDeal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Mature Deal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🏆 BEST PRICE in {{ $json.daysDiff }} Days of Tracking!\n\n✈ {{ $json.from_airport }} → {{ $json.to_airport }}\n{{ $json.travel_date }}\n\nLowest Ever: {{ $json.currency }} {{ $json.current_price }}\n(Was {{ $json.currency }} {{ $json.initial_price }} when you started)\n\nThat's a saving of {{ $json.currency }} {{ $json.saving }}! (down {{ $json.percentDrop }}%)\n\nThis is the lowest we've seen — act fast!",
        "additionalFields": {}
      },
      "name": "Best Deal Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2100, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Price Drop Alert! 📉\n✈ {{ $json.from_airport }} → {{ $json.to_airport }}\n{{ $json.travel_date }}\n\nWas: {{ $json.currency }} {{ $json.last_price }}\nNow: {{ $json.currency }} {{ $json.current_price }} (down {{ $json.percentDrop }}%)\n\nAirline: {{ $json.airline }}\nFlight: {{ $json.flight_numbers }}\n\nBook quickly — prices can change!",
        "additionalFields": {}
      },
      "name": "Price Drop Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2100, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-alerts-enabled",
              "leftValue": "={{ $json.email_alerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Email Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1900, 500]
    },
    {
      "parameters": {
        "to": "={{ $json.email_address }}",
        "subject": "=Price Drop Alert! {{ $json.from_airport }} → {{ $json.to_airport }}",
        "body": "=<h1>Price Drop Alert!</h1>\n<p><strong>Route:</strong> {{ $json.from_airport }} → {{ $json.to_airport }}</p>\n<p><strong>Travel Date:</strong> {{ $json.travel_date }}</p>\n<p><strong>Was:</strong> {{ $json.currency }} {{ $json.last_price }}</p>\n<p><strong>Now:</strong> {{ $json.currency }} {{ $json.current_price }}</p>\n<p><strong>Saving:</strong> {{ $json.currency }} {{ $json.saving }} ({{ $json.percentDrop }}%)</p>\n<p><strong>Airline:</strong> {{ $json.airline }}</p>",
        "additionalFields": {}
      },
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [2100, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "whatsapp-set",
              "leftValue": "={{ $json.whatsapp_number }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1900, 700]
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "={{ $json.whatsapp_number }}",
        "message": "=Price Drop Alert! 📉\n\n✈ {{ $json.from_airport }} → {{ $json.to_airport }}\nWas: {{ $json.currency }} {{ $json.last_price }}\nNow: {{ $json.currency }} {{ $json.current_price }} (down {{ $json.percentDrop }}%)\n\nBook quickly!",
        "additionalFields": {}
      },
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2100, 800]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Tracker",
        "columns": "last_price,lowest_price,last_checked",
        "key": "tracker_id",
        "keyValue": "={{ $json.tracker_id }}",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Update Tracker Prices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2300, 400],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "PriceHistory",
        "columns": "tracker_id,timestamp,price,airline,flight_numbers",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Append Price History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2500, 400],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Tracker",
        "columns": "last_checked",
        "key": "tracker_id",
        "keyValue": "={{ $json.tracker_id }}",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Update Last Checked Only",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2300, 900],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "PriceHistory",
        "columns": "tracker_id,timestamp,price,airline,flight_numbers",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Append History No Alert",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2500, 900],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    }
  ],
  "connections": {
    "Hourly Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Active Trackers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Active Trackers": {
      "main": [
        [
          {
            "node": "Check Active Trackers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Active Trackers": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Amadeus OAuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amadeus OAuth": {
      "main": [
        [
          {
            "node": "Amadeus Flight Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amadeus Flight Search": {
      "main": [
        [
          {
            "node": "Extract Cheapest Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cheapest Price": {
      "main": [
        [
          {
            "node": "Calculate Price Drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Price Drop": {
      "main": [
        [
          {
            "node": "Check Significant Drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Significant Drop": {
      "main": [
        [
          {
            "node": "Check Mature Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Last Checked Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mature Deal": {
      "main": [
        [
          {
            "node": "Best Deal Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Price Drop Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Best Deal Alert": {
      "main": [
        [
          {
            "node": "Check Email Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Drop Alert": {
      "main": [
        [
          {
            "node": "Check Email Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Alerts": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Check WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check WhatsApp": {
      "main": [
        [
          {
            "node": "Send WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Alert": {
      "main": [
        [
          {
            "node": "Update Tracker Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracker Prices": {
      "main": [
        [
          {
            "node": "Append Price History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Checked Only": {
      "main": [
        [
          {
            "node": "Append History No Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["flight-tracker", "hourly-monitor", "price-alerts"]
}