n8n-workflows/workflow-1-conversation-bot.json
{
  "name": "Flight Price Tracker - Conversation Bot",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}"
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [100, 400],
      "webhookId": "telegram-flight-tracker"
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Sessions",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Read Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [300, 400],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "chat-id-exists",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Session Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Sessions",
        "columns": "chat_id,platform,step,temp_data,last_active",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Create New Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [700, 300],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "data": {
          "assignments": {
            "columns": []
          }
        },
        "options": {}
      },
      "name": "Initialize Session Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "output": 0,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 0,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 1,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 1,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 2,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 2,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 3,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 3,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 4,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 4,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 5,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 5,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 6,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 6,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 7,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 7,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 8,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 8,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 9,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 9,
                  "operation": "equals"
                }
              ]
            },
            {
              "output": 10,
              "conditions": [
                {
                  "value1": "={{ $json.step }}",
                  "value2": 10,
                  "operation": "equals"
                }
              ]
            }
          ],
          "fallbackOutput": 99
        },
        "fallbackOutput": "={{ $json.step }}"
      },
      "name": "Step Switcher",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Welcome to FlightTracker Bot!\nI'll monitor flight prices for you and alert you when they drop.\n\nFirst — do you want to receive email alerts?\nReply: YES or NO",
        "additionalFields": {}
      },
      "name": "Step 0 - Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 100]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Sessions",
        "columns": "step,temp_data",
        "key": "chat_id",
        "keyValue": "={{ $json.chat_id }}",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Update Step 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1300, 250],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Great! Please provide your email address for alerts.\n(We'll only use it for price drop notifications)",
        "additionalFields": {}
      },
      "name": "Step 1 - Ask Email",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Where will you be flying from?\nEnter your departure city or airport code (e.g., YYZ or Toronto)",
        "additionalFields": {}
      },
      "name": "Step 2 - Origin Airport",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 550]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Where do you want to fly to?\nEnter your destination city or airport code (e.g., BOM or Mumbai)",
        "additionalFields": {}
      },
      "name": "Step 3 - Destination Airport",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 700]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=When do you want to travel?\nEnter date in YYYY-MM-DD format (e.g., 2024-12-15)",
        "additionalFields": {}
      },
      "name": "Step 4 - Travel Date",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 850]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=What's your return date?\nEnter in YYYY-MM-DD format or type ONEWAY if it's a one-way trip",
        "additionalFields": {}
      },
      "name": "Step 5 - Return Date",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 1000]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=How many adults will be traveling?\n(Enter a number between 1 and 9)",
        "additionalFields": {}
      },
      "name": "Step 6 - Passengers",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 1150]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Should I check prices from nearby airports too?\nFor example, if you enter Toronto, I can also check YTZ, YHM, and YKF.\nReply: YES or NO",
        "additionalFields": {}
      },
      "name": "Step 7 - Nearby Airports",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 1300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=How do you want to be alerted about price drops?\n\n1) 5% drop\n2) 10% drop\n3) 15% drop\n4) Custom amount (enter dollar amount)\n\nReply with 1, 2, 3, or 4 (or a dollar amount for option 4)",
        "additionalFields": {}
      },
      "name": "Step 8 - Alert Threshold",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 1450]
    },
    {
      "parameters": {
        "url": "=https://test.api.amadeus.com/v1/security/oauth2/token",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $env.AMADEUS_API_KEY }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.AMADEUS_API_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Amadeus OAuth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1500, 1600],
      "credentials": {
        "httpHeaderAuth": "amadeus-auth"
      }
    },
    {
      "parameters": {
        "jsCode": "// Nearest airport groups\nconst airportGroups = {\n  'YYZ': ['YYZ', 'YTZ', 'YHM', 'YKF'],\n  'YVR': ['YVR', 'YXX'],\n  'JFK': ['JFK', 'LGA', 'EWR'],\n  'LHR': ['LHR', 'LGW', 'STN', 'LTN'],\n  'BOM': ['BOM', 'PNQ'],\n  'DEL': ['DEL', 'DELF'],\n  'SIN': ['SIN', 'XSP'],\n  'DXB': ['DXB', 'DWC', 'SHJ'],\n  'LAX': ['LAX', 'SNA', 'BUR'],\n  'SFO': ['SFO', 'OAK', 'SJC'],\n};\n\nconst userInput = $json.from_airport ? $json.from_airport.toUpperCase() : '';\nconst matchedCode = Object.keys(airportGroups).find(k =>\n  userInput.includes(k) || userInput.includes(k.replace('YZ', 'TORONTO')) ||\n  userInput.includes('TORONTO') && k === 'YYZ' ||\n  userInput.includes('MUMBAI') && k === 'BOM' ||\n  userInput.includes('LONDON') && k === 'LHR' ||\n  userInput.includes('SINGAPORE') && k === 'SIN' ||\n  userInput.includes('DUBAI') && k === 'DXB'\n);\n\nconst nearbyAirports = airportGroups[matchedCode] || [userInput];\n\nreturn { nearby_airports: nearbyAirports };",
        "options": {}
      },
      "name": "Parse Nearby Airports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 1600]
    },
    {
      "parameters": {
        "url": "=https://test.api.amadeus.com/v2/shopping/flight-offers?originLocationCode={{ $json.from_airport }}&destinationLocationCode={{ $json.to_airport }}&departureDate={{ $json.travel_date }}&adults={{ $json.passengers }}&max=5&currencyCode={{ $json.currency || 'CAD' }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Amadeus Flight Search Single",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1900, 1600]
    },
    {
      "parameters": {
        "jsCode": "// Parse Amadeus flight offers response\nconst data = $input.first().json;\n\nif (!data.data || data.data.length === 0) {\n  return [{ no_results: true }];\n}\n\nconst offers = data.data.map((offer, index) => ({\n  price: offer.price.total,\n  currency: offer.price.currencyCode,\n  airline: offer.validatingAirlineCodes[0],\n  flight_number: offer.itineraries[0].segments.map(s => s.number).join(', '),\n  departure_time: offer.itineraries[0].segments[0].departure.at,\n  arrival_time: offer.itineraries[0].segments[0].arrival.at,\n  duration: offer.itineraries[0].duration,\n  index: index\n}));\n\noffers.sort((a, b) => parseFloat(a.price) - parseFloat(b.price));\n\nreturn offers.slice(0, 5).map(offer => ({\n  price: offer.price,\n  currency: offer.currency,\n  airline: offer.airline,\n  flight_number: offer.flight_number,\n  departure: offer.departure_time,\n  duration: offer.duration\n}));",
        "options": {}
      },
      "name": "Parse Single Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 1600]
    },
    {
      "parameters": {
        "jsCode": "// Generate confirmation message with all collected data\nconst tempData = JSON.parse($json.temp_data || '{}');\nconst fromAirport = tempData.from_airport || $json.from_airport;\nconst toAirport = tempData.to_airport || $json.to_airport;\nconst travelDate = tempData.travel_date || $json.travel_date;\nconst returnDate = tempData.return_date || $json.return_date;\nconst passengers = tempData.passengers || $json.passengers;\nconst checkNearby = tempData.check_nearby || $json.check_nearby;\nconst emailAlerts = tempData.email_alerts || $json.email_alerts;\nconst emailAddress = tempData.email_address || $json.email_address;\nconst thresholdType = tempData.alert_threshold_type || $json.alert_threshold_type;\nconst thresholdValue = tempData.alert_threshold_value || $json.alert_threshold_value;\n\nlet thresholdText = '';\nif (thresholdType === '1') thresholdText = '5%';\nelse if (thresholdType === '2') thresholdText = '10%';\nelse if (thresholdType === '3') thresholdText = '15%';\nelse if (thresholdType === '4') thresholdText = '$' + thresholdValue;\n\nconst message = `Got it! Here's your tracking setup:\n✈ ${fromAirport} → ${toAirport}\nDepart: ${travelDate} | Return: ${returnDate}\n${passengers} Adult(s)\nAlert when price drops by ${thresholdText}\nEmail alerts: ${emailAlerts} (${emailAddress || 'N/A'})\nNearby airports: ${checkNearby}\n\nSearching for current prices...`;\n\nreturn { confirmation_message: message, temp_data: JSON.stringify(tempData) };",
        "options": {}
      },
      "name": "Build Confirmation Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 1750]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.confirmation_message }}",
        "additionalFields": {}
      },
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1900, 1750]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Tracker",
        "columns": "tracker_id,chat_id,platform,from_airport,to_airport,travel_date,return_date,passengers,check_nearby,initial_price,last_price,lowest_price,last_checked,tracking_since,alert_threshold_percent,alert_threshold_fixed,email_alerts,email_address,whatsapp_number,status,currency",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Create Tracker Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2100, 1750],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Current Prices for {{ $json.from_airport }} → {{ $json.to_airport }}:\n━━━━━━━━━━━━━━━━━━━━\n\n{{ $json.price_1 }} - {{ $json.airline_1 }}\nFlight: {{ $json.flights_1 }}\n\n{{ $json.price_2 }} - {{ $json.airline_2 }}\nFlight: {{ $json.flights_2 }}\n\n{{ $json.price_3 }} - {{ $json.airline_3 }}\nFlight: {{ $json.flights_3 }}\n\n━━━━━━━━━━━━━━━━━━━━\nTracking is now ACTIVE!\nI'll check prices hourly and alert you when they drop.\n\nSend /stop to stop tracking\nSend /status for current prices",
        "additionalFields": {}
      },
      "name": "Send Price Results",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2300, 1750]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Sessions",
        "columns": "step",
        "key": "chat_id",
        "keyValue": "={{ $json.chat_id }}",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Update to Step 10",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2500, 1750],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Tracking is active.\nSend /stop to stop or /status for latest prices.",
        "additionalFields": {}
      },
      "name": "Step 10 Default",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 1600]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ Tracking stopped!\n\nYou were tracking:\n✈ {{ $json.from_airport }} → {{ $json.to_airport }}\n\nTo restart, send any message to begin a new search.",
        "additionalFields": {}
      },
      "name": "Stop Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 1750]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Tracker",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Read Tracker for Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1500, 1900],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=📊 Current Status for {{ $json.from_airport }} → {{ $json.to_airport }}\n\nCurrent Price: {{ $json.currency }} {{ $json.last_price }}\nLowest Ever: {{ $json.currency }} {{ $json.lowest_price }}\nTracking Since: {{ $json.tracking_since }} ({{ $json.days }} days)\n\nStatus: {{ $json.status }}\nNext check: Every hour automatically",
        "additionalFields": {}
      },
      "name": "Status Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1700, 1900]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "documentType": "sheet",
        "sheetName": "Tracker",
        "columns": "status",
        "key": "chat_id",
        "keyValue": "={{ $json.chat_id }}",
        "options": {
          "cellFormat": "a1"
        }
      },
      "name": "Mark Stopped",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1900, 1900],
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=No flights found for this route/date.\nTry different dates or check your airport codes.\n\nYou can restart by sending any message.",
        "additionalFields": {}
      },
      "name": "No Results Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2100, 1900]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Read Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Session": {
      "main": [
        [
          {
            "node": "Check Session Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Exists": {
      "main": [
        [
          {
            "node": "Step Switcher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Session": {
      "main": [
        [
          {
            "node": "Initialize Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step Switcher": {
      "main": [
        [
          {
            "node": "Step 0 - Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 1 - Ask Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 2 - Origin Airport",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 3 - Destination Airport",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 4 - Travel Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 5 - Return Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 6 - Passengers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 7 - Nearby Airports",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 8 - Alert Threshold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 9 - Confirm and Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 10 Default",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["flight-tracker", "telegram", "amadeus"]
}